*.pyc
.DS_Store
.idea
.ipynb_checkpoints

observation.egg-info
operational-analysis.iml
operational_analysis.egg-info
openoa.egg-info
*.p

.git
.cache
.eggs
docs

OpenOA.egg-info
build
dist


.pytest_cache

.coverage
coverage.xml
junit-xml-report.xml

examples/operational_AEP_analysis/data/*.csv
examples/turbine_analysis/data/*.csv
examples/data/cleansed

examples/data/kelmarsh/
examples/data/penmanshiel/

sphinx/examplesout.ipynb

.devcontainer

.vscode/
.local

.ipython
*.nc

node_modules/
frontend/node_modules/
.venv/
__pycache__/
*.pyc
dist/
frontend/dist/
.env
